version: '3.4'

services:

  database:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
    ports:
      - 3306:3306
    volumes:
      - ./db:/var/lib/mysql

  pyramid:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: ./startup.sh
    depends_on:
      - database
    ports:
      - 7777:7777
    working_dir: /usr/src/app
    volumes:
      - ./backend:/usr/src/app

networks:
  default:
    external:
      name: webapp
