.Button {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.ButtonBig {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.ButtonMedium {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
